.App {
  background-color: #d7d9da;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

h3, h4 {
  margin: 0;
}

